<?xml version="1.0"?>
<!--
/**
 * Mage360_Brands extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 *
 * @category  Mage360
 * @package   Mage360_Brands
 * @copyright 2018 Mage360
 * @license   http://opensource.org/licenses/mit-license.php MIT License
 * @author    Qaiser Bashir
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Mage360BrandsUiDataProviderBrandsFormModifierPool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="brands_data" xsi:type="array">
                    <item name="class" xsi:type="string">Mage360\Brands\Ui\DataProvider\Brands\Form\Modifier\BrandsData</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Mage360\Brands\Model\Brands\DataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">Mage360BrandsUiDataProviderBrandsFormModifierPool</argument>
        </arguments>
    </type>
</config>
